<mat-toolbar class="header mat-elevation-z4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a>
                    <i class="material-icons icone">home</i>
                    <img class="logo" src="assets/img/logo.jpg" alt="logo">
                </a>
            </div>
            <div class="col-1 align-bottom">
                INICIO
            </div>
            <div class="col-2 align-bottom">
                <div class="col-12 offset-md-1">
                    <a routerlink="/about">SOBRE NÓS</a>
                </div>
            </div>
            <div class="col-1 align-text-bottom" routerlink="/contact">
                CONTATO
            </div>
        </div>
    </div>
</mat-toolbar>