<div class="container">
    <div class="row">
        <div class="col-6 margin-top">
            <div class="card card1">
                <div class="card card2">
                    <img class="img" src="assets/img/logo.jpg" style="padding-top: 160px;">
                </div>
            </div>
        </div>
        <div class="col-6 margin-top">
            <div class="card-top">
                <h2 class="top-card">BEM VINDO AO BEA</h2>
            </div>
            <div class="texto-p">
                <p>
                    BE ALRIGHT É UMA INICIATIVA QUE SE IMPORTA COM VOCÊ!
                    <br>
                    NOSSO OBJETIVO É MAPEAR E DISPONIBILIZAR PROFISSIONAIS CAPACITADOS PARA AJUDAR A LIDAR COM OS PROBLEMAS DO DIA A DIA.
                    <br>
                    SABEMOS O QUÃO CANSATIVO E ESTRESSANTE É A ROTINA NO TRABALHO E QUEREMOS QUE VOCÊ SAIBA QUE NÃO ESTÁ SOZINHO NESSA.
                </p>

                <br>
                
                <p>
                    COMPROMETIDOS COM A SUA SAÚDE MENTAL E BEM ESTAR.
                </p>
                
                <br>

                <p>
                    ESTAMOS AQUI PARA CONVERSAR, MESMO QUE VOCÊ NÃO QUEIRA SE IDENTIFICAR :)
                </p>
            </div>
            <div class="d-flex justify-content-center padding-top" style="padding-top: 20px;">
                <button routerLink="form" mat-raised-button> Clique aqui pra realizar sua pesquisa</button>
            </div>
            <div style="margin-top: 4.9rem;">
                <h2 class="card3">DESEJAMOS UMA ÓTIMA EXPERIÊNCIA.</h2>
            </div>
        </div>
    </div>
</div>