<div class="row d-flex flex-column justify-content-center">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="form-content">
                <div class="form-group">
                    <p class="text-center h5 bold">
                        1. Baseando-se nas reações abaixo, qual representa melhor a sua saúde mental no momento? 
                    </p>

                    <div class="row justify-content-center">
                        <div class="col-2">
                            <img src="assets/img/mindblow.png" alt="img1">
                        </div>
                        <div class="col-2">
                            <img src="assets/img/bad.png" alt="img2">
                        </div>
                        <div class="col-2">
                            <img src="assets/img/sad.png" alt="img3">
                        </div>
                        <div class="col-2">
                            <img src="assets/img/strange.png" alt="img4">
                        </div>
                        <div class="col-2">
                            <img src="assets/img/good.png" alt="img5">
                        </div> 
                        <div class="col-2">
                            <img src="assets/img/party.png" alt="img6">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <mat-slider 
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="20"
                        min="0"
                        max="100"
                        aria-label="units"
                        ></mat-slider>
                    </div>
                </div>
        </div>

        <div class="form-content" style="margin-top: 10px;">
            <div class="form-group">
                <p class="text-center h5 bold">
                   2. Falar sobre suicídio, ansiedade, depressão, transtornos de estresse pós-traumático e outros distúrbios mentais, para você é: 
                </p>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <img src="assets/img/mindblow.png" alt="img1">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/bad.png" alt="img2">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/sad.png" alt="img3">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/strange.png" alt="img4">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/good.png" alt="img5">
                    </div> 
                    <div class="col-2">
                        <img src="assets/img/party.png" alt="img6">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <mat-slider 
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="20"
                    min="0"
                    max="100"
                    aria-label="units"
                    ></mat-slider>
                </div>
            </div>
        </div>

        <div class="form-content" style="margin-top: 10px;">
                <div class="form-group">
                    <p class="text-center h5 bold">
                        3. Como você se sente em seu tempo livre, na maioria das vezes? 
                    </p>

                    <div class="row justify-content-center">
                        <div class="col-2">
                            <img src="assets/img/mindblow.png" alt="img1">
                        </div>
                        <div class="col-2">
                            <img src="assets/img/bad.png" alt="img2">
                        </div>
                        <div class="col-2">
                            <img src="assets/img/sad.png" alt="img3">
                        </div>
                        <div class="col-2">
                            <img src="assets/img/strange.png" alt="img4">
                        </div>
                        <div class="col-2">
                            <img src="assets/img/good.png" alt="img5">
                        </div> 
                        <div class="col-2">
                            <img src="assets/img/party.png" alt="img6">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <mat-slider 
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="20"
                        min="0"
                        max="100"
                        aria-label="units"
                        ></mat-slider>
                    </div>
                </div>
        </div>

        <div class="form-content" style="margin-top: 10px;">
            <div class="form-group">
                <p class="text-center h5 bold">
                    4. Como você se sente em relação a sua rotina de sono, alimentação e afazeres? 
                </p>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <img src="assets/img/mindblow.png" alt="img1">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/bad.png" alt="img2">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/sad.png" alt="img3">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/strange.png" alt="img4">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/good.png" alt="img5">
                    </div> 
                    <div class="col-2">
                        <img src="assets/img/party.png" alt="img6">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <mat-slider 
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="20"
                    min="0"
                    max="100"
                    aria-label="units"
                    ></mat-slider>
                </div>
            </div>
        </div>

        <div class="form-content" style="margin-top: 10px;">
            <div class="form-group">
                <p class="text-center h5 bold">
                    5. Como você se sente quando está sozinho?  
                </p>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <img src="assets/img/mindblow.png" alt="img1">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/bad.png" alt="img2">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/sad.png" alt="img3">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/strange.png" alt="img4">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/good.png" alt="img5">
                    </div> 
                    <div class="col-2">
                        <img src="assets/img/party.png" alt="img6">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <mat-slider 
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="20"
                    min="0"
                    max="100"
                    aria-label="units"
                    ></mat-slider>
                </div>
            </div>
        </div>

        <div class="form-content" style="margin-top: 10px;">
            <div class="form-group">
                <p class="text-center h5 bold">
                    6. Como você se relaciona com os acontecimentos do passado?  
                </p>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <img src="assets/img/mindblow.png" alt="img1">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/bad.png" alt="img2">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/sad.png" alt="img3">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/strange.png" alt="img4">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/good.png" alt="img5">
                    </div> 
                    <div class="col-2">
                        <img src="assets/img/party.png" alt="img6">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <mat-slider 
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="20"
                    min="0"
                    max="100"
                    aria-label="units"
                    ></mat-slider>
                </div>
            </div>
        </div>

        <div class="form-content" style="margin-top: 10px;">
            <div class="form-group">
                <p class="text-center h5 bold">
                    7. Como você se sente ao pensar no seu futuro? 
                </p>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <img src="assets/img/mindblow.png" alt="img1">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/bad.png" alt="img2">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/sad.png" alt="img3">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/strange.png" alt="img4">
                    </div>
                    <div class="col-2">
                        <img src="assets/img/good.png" alt="img5">
                    </div> 
                    <div class="col-2">
                        <img src="assets/img/party.png" alt="img6">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <mat-slider 
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="20"
                    min="0"
                    max="100"
                    aria-label="units"
                    ></mat-slider>
                </div>                
            </div>
            <button class="button-right" type="button" mat-raised-button>Enviar</button>
        </div>
    </div>
</div>