<div class="conteudo col-10">

    <div class="infos col-8 float-start">
        <div>

            <div class="boxes-2 boxes-2-1 col-5 float-start"><img src="..\assets\img\contato-telefone.png" class="imagem"></div>

            <div class="boxes-2 boxes-2-2 col-5 float-end">
              <a>
                <img src="..\assets\img\contato-email.png" class="imagem">
              </a>
            </div>

            <div class="boxes-1 col-11">
              <a href="https://www.google.com/maps/dir//universidade+metodista+de+são+paulo/@-23.6288389,-46.5517082,18z/data=!4m8!4m7!1m0!1m5!1m1!1s0x94ce4347b9de1ae9:0xf97e344c331b0fc!2m2!1d-46.5757334!2d-23.6532228" target="_blank" rel="noopener noreferrer">
                <img src="..\assets\img\contato-endereco.png" class="imagem" style="opacity:0" >
              </a>
            </div>

        </div>

        
    </div>

    <div class="form col-3 float-end">

        <div class="centro">

          <div><img src="..\assets\img\mensagem.png" class="imagem"></div>

          <form>

          <div class="mb-3 col-10 centro">
            <label for="exampleFormControlInput1" class="form-label "><h1>E-MAIL</h1></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

          <div class="mb-3 col-10 centro">
            <label for="exampleFormControlInput1" class="form-label"><h1>NOME</h1></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome Completo">
          </div>
        
          <div class="mb-3 col-10 centro">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea class="form-control areatexto" id="exampleFormControlTextarea1" rows="3" placeholder="Digite sua mensagem aqui..."></textarea>
          </div>

          <div>
            <button class="button" type="reset" (click)="alertInfo()"><h2>ENVIAR</h2></button>
          </div>

        </form>

        </div>
    </div>
    
</div>